language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install .
  - pip install -r test_requirements.txt

script:
  # Run the default test suite.
  - python setup.py test
